// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;
@use "@/components/layout/header.module" as header;

.icon-left {
  margin-right: 0.5rem;
}

.orgs {
  @include outermost-container;

  > h1 {
    @include page-title;
  }
}

.organizations-window {
  max-height: 480px;
  width: 100%;
  overflow: auto;
  box-shadow: 0 0 4px 2px $color-shadow;
}

.categories {
  position: sticky;
  min-height: 4rem;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  display: flex;
  overflow-x: auto;
  list-style: none;
  z-index: 1;
  background-color: $color-base;

  > li {
    flex: auto;

    &:not(.active) {
      box-shadow: 0 -4px 4px -2px $color-shadow inset;
    }

    > button {
      height: 100%;
      width: 100%;
      border: none;

      &:hover {
        background-color: rgba($color-main, 0.2);
      }
    }
  }
}

.category-exhibition {
  background-color: #c0ffc080;
}

.category-cafe {
  background-color: #ffc0c080;
}

.category-amusement {
  background-color: #ffffc080;
}

.category-performance {
  background-color: #c0c0ff80;
}

.category-field {
  background-color: #c0ffff80;
}

.category-stand {
  background-color: #ffc0ff80;
}

.category-shop {
  background-color: #c0c0c080;
}

.active {
  box-shadow: 0 0 4px 2px $color-shadow;
}

.category-narrow {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.organizations {
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    &:nth-child(odd) {
      background-color: rgba($color-main, 0.1);
    }

    :hover {
      background-color: rgba($color-main, 0.2);
    }

    > a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 1rem;
      text-decoration: none;
      gap: 1rem;

      > div:hover {
        background-color: transparent;
      }
    }
  }
}

.logo {
  position: relative;
  height: 80px;
  width: 80px;
}

.title {
  flex: 2;
  font-size: 1.2rem;
}

.other-info {
  flex: 1;
  display: flex;
  flex-direction: column;

  > div:hover {
    background-color: transparent;
  }
}

.area {
  flex: 1;
}

.room {
  flex: 1;
}

.name {
  flex: 1;
}
