// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;

$header-height: 48px;
$content-height: $header-height / 2;
$content-padding: ($header-height - $content-height) / 2;

.header {
  position: sticky;
  height: $header-height;
  width: 100%;
  top: 0;
  padding: 0 ($content-padding / 2);
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: $color-base;
  box-shadow: 0 -4px 4px 6px $color-shadow;
}

.site-name {
  height: 100%;
  flex: 1;

  > a {
    height: 100%;
    padding: $content-padding ($content-padding / 2);
    display: inline-block;
    text-decoration: none;
    line-height: $content-height;
    font-size: $content-height;
    @include non-break;
  }
}
