// SPDX-License-Identifier: MIT

$header-height: 48px;

.header {
  position: fixed;
  height: $header-height;
  width: 100vw;
  background-color: #f8f4e6;
  box-shadow: 0px -8px 8px 12px rgba(64, 64, 64, 0.5);
}
