// SPDX-License-Identifier: MIT

$header-height: 48px;
$content-height: $header-height / 2;
$content-padding: ($header-height - $content-height) / 2;

.header {
  position: fixed;
  height: $header-height;
  width: 100%;
  top: 0;
  padding: 0 ($content-padding / 2);
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: #f8f4e6;
  box-shadow: 0 -4px 4px 6px rgba(64, 64, 64, 0.25);
}

.index-link {
  padding: $content-padding ($content-padding / 2);
  text-decoration: none;
  line-height: $content-height;
  font-size: $content-height;
}
