// SPDX-License-Identifier: MIT
@use "./header.module" as header;

.main {
  padding-top: header.$header-height;
}

.layout {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
}

.stop-scroll {
  overflow: hidden;
}
