// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;

.outline {
  position: relative;
  @include outermost-container;
  overflow: hidden;
}

.map {
  width: 100vw;
  margin: 1rem calc(50% - 50vw);
  aspect-ratio: 4 / 3;

  @media screen and (min-width: 800px) {
    width: 100%;
    margin: 1rem 0;
  }

  > iframe {
    height: 100%;
    width: 100%;
  }
}
