// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;

.countdown {
  width: 70%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 50px 0;
  letter-spacing: 0.2rem;

  @include mq("sm") {
    width: 100%;
    letter-spacing: 0.1rem;
    padding: 20px 5px;
  }

  > div {
    width: 100%;
    font-size: max(1em, 3vw);
    text-align: center;
  }
}

.left {
  font-size: 25px;
  text-align: left;

  @include mq("sm") {
    font-size: 18px;
    padding-bottom: 5px;
  }
}

.small {
  font-size: 35px;

  @include mq("sm") {
    font-size: 22px;
  }
}

.enhance {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 0.05em;
  padding: 0 0.05em;
  font-size: max(120px, 12vw);
  line-height: 100%;
}
