// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;

.countdown {
  width: 100%;
  display: flex;
  align-items: center;

  > div {
    width: 100%;
    font-size: max(1em, 3vw);
    text-align: center;
  }
}

.left {
  font-size: 35px;
  text-align: left;

  @include mq("sm") {
    font-size: 22px;
  }
}

.small {
  font-size: 35px;

  @include mq("sm") {
    font-size: 22px;
  }
}

.enhance {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 0.05em;
  padding: 0 0.05em;
  font-size: max(120px, 12vw);
  line-height: 100%;
  background: linear-gradient(
    to bottom,
    transparent calc(100% - 0.4em),
    rgba($color-accent, 0.2) calc(100% - 0.4em) calc(100% - 0.2em),
    transparent calc(100% - 0.2em)
  );
}
