// SPDX-License-Identifier: MIT

@use "@/components/variables.scss" as *;

.promotion-videos {
  border: 4px solid;
  padding: 1rem 0 0;

  > h2 {
    margin: 1rem;
  }
}

.pv-window {
  color: $color-base;
  background-color: $color-main;
}

.pv-tabs {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

  > li {
    height: 3rem;
    flex: 1;

    > button {
      height: 100%;
      width: 100%;
      border: none;
    }
  }
}

.pv-tab-active {
  background-color: $color-accent;
}

.pv-content {
  width: 100%;
  aspect-ratio: 16 / 9;

  iframe {
    width: 100%;
    height: 100%;
  }
}
