// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;

.promotion-videos {
  border: 1px solid $color-black-lighter;
  background-color: $color-gray;
  padding: 30px 60px;

  > h2 {
    margin: 1rem;
  }

  @include mq("sm") {
    padding: 20px 0 0 0;
  }
}

.pv-title {
  @include section-title;
  padding-bottom: 30px;

  @include mq("sm") {
    padding-bottom: 20px;
  }
}

.pv-window {
  color: $color-base;
  background-color: $color-main;
}

.pv-tabs {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

  > li {
    height: 3rem;
    flex: 1;

    > button {
      height: 100%;
      width: 100%;
      border: none;
    }
  }
}

.pv-tab-active {
  background-color: $color-accent;
}

.pv-tab-inactive {
  > button {
    cursor: pointer;
  }
}

.pv-content {
  width: 100%;
  aspect-ratio: 16 / 9;

  iframe {
    width: 100%;
    height: 100%;
  }
}
