// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;

.school-map {
  @include outermost-container;
}

.map-container {
  height: 80vh;
  width: 100vw;
  margin: 1rem calc(50% - 50vw);
  padding: 40px;
  background-color: white;

  @media screen and (min-width: 800px) {
    width: 100%;
    margin: 1rem 0;
  }
}

.map {
  position: relative;
  height: 100%;
  width: 100%;
}

.current {
  color: $color-accent;
}
