// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;

.school-map {
  @include outermost-container;
}

.map-container {
  position: relative;
  width: 100vw;
  margin: 1rem calc(50% - 50vw);
  padding: 40px;
  background-color: white;
  box-shadow: 0 0 4px 2px $color-shadow inset;

  @media screen and (min-width: 800px) {
    width: 100%;
    margin: 1rem 0;
  }
}

.map {
  position: relative;
  width: 100%;
}

.map-button {
  position: absolute;
  padding: 0.75em 0.1em;
  transform: translate(-50%, -50%);
  @include non-break;
  white-space: nowrap;
  font-size: 0.5rem;
  font-weight: bold;
  background-color: rgba($color-base, 0.66);

  @media screen and (min-width: 400px) {
    padding: 0.1em 0.15em;
    font-size: 0.75rem;
  }

  @media screen and (min-width: 800px) {
    padding: 0.2em 0.3em;
    font-size: 1rem;
  }

  &:hover {
    z-index: 1;
  }
}

a.map-button:hover {
  color: $color-accent;
}

.organizations {
  margin: 2rem 0;
  padding: 0;
  list-style: none;

  > li {
    position: relative;
    margin: 1rem 0;
    border: 4px solid $color-accent;
    padding: 0;
    display: flex;
    text-decoration: none;
    color: $color-base;
    background-color: $color-accent-light;
  }
}

.org-logo {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: white;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: block;
    pointer-events: none;
    box-shadow: 0 0 4px 2px $color-shadow inset;
  }
}

.org-text {
  flex: 1;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.org-title {
  margin: 0 0 0.25rem;
  @include non-break;
  white-space: nowrap;
}

.org-meta {
  display: flex;

  > div {
    //flex: 1;
    @include non-break;
    white-space: nowrap;

    > svg {
      margin: 0 0.5em;
    }
  }
}

.org-details {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
}

.current {
  color: $color-accent;
}
