// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;

.attached-icon {
  margin-right: 0.5em;
}

.schedule {
  > h3 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  > div {
    position: relative;
    max-height: 480px;
    width: 100%;
    aspect-ratio: 1 / 2;
    border-top: 4px solid;
    border-bottom: 4px solid;

    > div {
      height: 100%;
      padding: 0 0 60px;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      @media (min-width: 720px) {
        flex-direction: row;

        > table:not(:first-child) {
          border-left: 4px solid;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      display: block;
      pointer-events: none;
      box-shadow: 0 -120px 60px -60px $color-base inset;
    }
  }
}

.schedule-table {
  flex: 1;
  table-layout: fixed;

  > thead {
    color: $color-base;

    > tr {
      height: 3rem;
      width: 100%;
      background-color: $color-accent;

      &:first-child {
        font-size: 1.2em;
      }

      &:nth-child(even) {
        background-color: $color-accent-light;
      }
    }
  }

  > tbody > tr {
    &:nth-child(even) {
      background-color: rgba($color-main, 0.1);
    }

    &:not(:hover) > td:nth-child(2) > span:last-child > span:nth-child(2) {
      display: none;
    }

    &:hover > td:nth-child(2) > span:last-child > span:nth-child(1) {
      display: none;
    }

    > td {
      height: 100%;
      padding: 0;
      overflow: auto;

      &:nth-child(1) > div {
        position: relative;
        height: 100%;
        text-align: center;

        > div {
          position: absolute;
          width: 100%;
        }
      }

      &:nth-child(2) {
        padding: 0 0.5rem;
        @include non-break;
      }
    }
  }
}

.schedule-time {
  width: 5em;
}

.schedule-start {
  top: 0;
}

.schedule-end {
  bottom: 0;
}

.asano-radio {
  border: 4px solid;
  padding: 1rem;
}

.youtube-container {
  margin: 1rem 0;
}

.schedule-container {
  margin: 1rem -1rem;
}
