// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;

.countdown {
  width: 100%;
  border: 4px solid $color-main;
  aspect-ratio: 2 / 1;
  display: flex;
  align-items: center;

  > div {
    width: 100%;
    margin: 0 1em;
    font-size: max(1em, 3vw);
    text-align: center;
  }
}

.left {
  text-align: left;
}

.enhance {
  margin: 0 0.05em;
  padding: 0 0.05em;
  font-size: max(4em, 16vw);
  line-height: 100%;
  background: linear-gradient(
    to bottom,
    transparent calc(100% - 0.4em),
    rgba($color-accent, 0.2) calc(100% - 0.4em) calc(100% - 0.2em),
    transparent calc(100% - 0.2em)
  );
}
