// SPDX-License-Identifier: MIT

@use "@/components/variables" as *;

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
);

@mixin mq($size) {
  @media screen and (max-width: #{map-get($breakpoints, $size)}) {
    @content;
  }
}

@mixin wide-only {
  @media screen and (max-width: 960px) {
    display: none;
  }
}

@mixin non-break {
  word-break: keep-all;
}

@mixin ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin outermost-container {
  width: 100%;
  padding: 1rem max(10%, 50% - 600px);
}

@mixin section-padding {
  padding: 80px 0;
}

@mixin section-title {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2rem;
  margin-top: 0;

  &::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: $color-accent;
    margin: 15px auto 0;
  }
}
