// SPDX-License-Identifier: MIT

// colors
// 基本的に色は [和色大辞典](https://www.colordic.org/w) にある色を使います。

// primary colors
$color-main: #121212;
$color-base: #fff;
$color-accent: #b7282e; // 茜色

// secondary colors
$color-accent-light: rgba($color-accent, 0.667);
$color-accent-lighter: rgba($color-accent, 0.333);
$color-black-light: rgba(black, 0.667);
$color-black-lighter: rgba(black, 0.333);
$color-gray: rgba(#d5d5d5, 0.2);

// aliases
$color-marker: $color-accent-lighter;
$color-shadow: $color-black-lighter;

// [BrandColors](https://brandcolors.net/)
$color-line: #06c755;
$color-youtube: #ff0000;
$color-twitter: #1da1f2;
$color-instagram: #e1306c;
