// SPDX-License-Identifier: MIT

@use "@/components/layout/header.module" as header;

.container {
  height: 100vh;
  width: auto;
  margin-top: 0 - header.$header-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  text-align: center;
  font-size: 6rem;
}

.text {
  text-align: center;
  font-size: 2rem;
}
