// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;

.events-wrap {
  @include outermost-container;

  > h1 {
    @include page-title;
  }

  > .events {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
