// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;
@use "@/components/layout/header.module" as header;

.top {
  position: relative;
  height: calc(95vh - 5vw);
  height: calc(95dvh - 5dvw);
  width: 100%;
  background-color: rgba($color-accent, 0.2);

  > div {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.top-image {
  object-fit: cover;
  object-position: 40% 20%;
  filter: blur(1px);
}

.top-video iframe {
  height: 100%;
  width: 100%;
  filter: blur(1px);
}

.top-text {
  background-color: rgba($color-base, 0.5);
  text-shadow: 0 0 16px $color-base;

  > div {
    padding: header.$header-height 2rem 0;
    height: 32rem;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.title {
  @include non-break;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.description {
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.top-container {
  margin-top: 0 - header.$header-height;
}

.slogan-container {
  @include outermost-container;
  margin: 3rem 0;
}

.countdown-container {
  @include outermost-container;
  margin: 3rem 0;
}

.pv-container {
  @include outermost-container;
  margin: 3rem 0;
}

.asano-radio-container {
  @include outermost-container;
  margin: 3rem 0;
}
