// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/layout/header.module" as header;

.top {
  height: 100vh;
  height: 100dvh;
  width: 100%;
  margin-top: -header.$header-height;
  padding-top: header.$header-height;
  background-color: #b9d08b;

  > div {
    height: 100%;
    width: 100%;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {
  @include non-break;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  text-align: center;
}

.countdown-container {
  margin: 12.5% 0;
  @include outermost-container;
}
