// SPDX-License-Identifier: MIT

@use "@/components/mixins" as *;
@use "@/components/variables" as *;

@keyframes flash {
  0% {
    background-color: mix($color-base, $color-accent);
  }
  50% {
    background-color: mix($color-base, $color-accent, 25%);
  }
  100% {
    background-color: mix($color-base, $color-accent);
  }
}

.attached-icon {
  margin-right: 0.5em;
}

.live {
  width: 100vw;
  margin: 1rem calc(50% - 50vw);
  aspect-ratio: 16 / 9;
  background-color: $color-main;

  @media screen and (min-width: 800px) {
    width: 100%;
    margin: 1rem 0;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.schedule-table {
  flex: 1;
  table-layout: fixed;

  > thead {
    position: sticky;
    top: 0;
    z-index: 1;
    color: $color-base;
    background-color: $color-base;

    > tr {
      height: 3rem;
      width: 100%;
      background-color: $color-accent;

      &:first-child {
        font-size: 1.2em;
      }

      &:nth-child(even) {
        background-color: $color-accent-light;
      }
    }
  }

  > tbody > tr {
    &:nth-child(even) {
      background-color: rgba($color-main, 0.1);
    }

    &:not(:hover) .program-title-hover {
      display: none;
    }

    &:hover .program-title {
      display: none;
    }

    > td {
      height: 100%;
      padding: 0;
      overflow: auto;

      &:nth-child(1) {
        position: relative;
        height: 1px; // this hack: https://stackoverflow.com/a/3542470

        > div {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          > div {
            text-align: center;
          }
        }
      }

      &:nth-child(2) {
        padding: 0 0.5rem;
        @include non-break;
      }
    }
  }
}

.schedule-time {
  width: 5em;
}

.schedule-on-air > td {
  position: relative;
  color: $color-base;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
    animation: flash 2s ease infinite;
  }
}

.schedule > div {
  position: relative;
  max-height: 480px;
  width: 100%;
  border: 2px solid;
  aspect-ratio: 1 / 2;

  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    @media (min-width: 720px) {
      flex-direction: row;

      > div {
        flex: 1;

        &:not(:first-child) > table {
          border-left: 2px solid;
        }
      }
    }

    > div {
      display: flex;
      flex-wrap: wrap;

      &::after {
        content: "";
        height: 60px;
        width: 100%;
        display: block;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    display: block;
    pointer-events: none;
    box-shadow: 0 -120px 60px -60px $color-base inset;
  }
}

.asano-radio {
  @include outermost-container;

  > h1 {
    @include page-title;
  }
}

.youtube-container {
  margin: 1rem 0;
}

.schedule-container {
  margin: 1rem 0;
}
