# SPDX-License-Identifier: MIT

name: NPM License Checker

on:
  push:
    paths:
      - "package.json"
      - "pnpm-lock.yaml"

  pull_request:

jobs:
  license-check:
    name: License Check
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: pnpm
      - run: pnpm install
      - name: check
        run: |
          ! pnpm dlx license-checker --production --csv | grep -i gpl
